:root {
    --phone-border_old: rgb(45, 45, 45);
    --phone-border: rgb(20, 20, 20);
    --screen-height: 34rem;

}

* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -ms-overflow-style: none; /* hide scrollbar for Internet Explorer, Edge */
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;  /* hide scrollbar for Chrome, Safari, and Opera */
}

body {
  background-color: dimgrey;
  overflow-y: hidden;
  font-family: Helvetica, sans-serif;
}

/* phone screen */
#phone {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,176,253,1) 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 23rem;
    height: 45rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid var(--phone-border);
    border-radius: 30px;
    box-shadow: 1px 3px 20px 12px rgb(127, 127, 127);
}

.homeButton {
    bottom: 0;
    cursor: pointer;
}

.topPhone {
    top: 0;
    position: relative;
    z-index: 2;
}

.border {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 5rem;
    width: 100%;
    background-color: var(--phone-border);
}

.phoneScreen {
    width: 100%;
    top: 5rem;
    height: 33.75rem;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2.5px solid #232323;
    z-index: -3;
}

.button {
    position: absolute;
    height: 49px;
    width: 49px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #3c3c3c;
    background-color: var(--phone-border);
    cursor: pointer;
}

.top-content {
    position: absolute;
    width: 100%;
    height: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}

.camera {
    height: 9px;
    width: 9px;
    position: absolute;
    background-color: black;
    border: 1px solid #232323;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.speaker {
    height: 5px;
    width: 70px;
    position: absolute;
    background-color: black;
    border: 1px solid #232323;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.mic {
    height: 13px;
    width: 13px;
    position: absolute;
    background-color: black;
    border: 1px solid #232323;
    left: 35%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.screen {
    text-align: center;
    width: 100%;
    top: 0px;  
    height: var(--screen-height);
    position: relative;
    z-index: -1;
}

/* screen */

.lockScreen {
    position: relative;
    color: #fff;
    text-align: center;
}

.homeScreen {
    padding: 20px;
}

.dateTime {
    position: absolute;
    top: 3rem;
    text-align: center;
    width: 100%;
}

.time {
    position: relative;
    font-size: 70px;
}

.lockScreen .content {
    top: 10rem;
    position: absolute;
    width: 100%;
    height: 23.5rem;
}

.topBar {
    position: absolute;
    width: 100%;
}

.topBar-content {
    padding: 5px 15px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: transparent;
    height: 20px;
    z-index: 0;
}

.top-time {
    font-size: 13px;
}

.topRight {
    display: flex;
    justify-content: space-between;
    width: 16%;
    font-size: 15px;
}

/* notification */

.notification {
    background-color: rgba(35, 35, 35, 0.5);
    border-radius: 10px;
    position: relative;
    width: 98%;
    height: 4rem;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.notification .text {
    font-size: 12px;
    position: relative;
    left: 2rem;
    cursor: pointer;
    height: 3rem ;
    width: 80% ;
    top: 58%;
    transform: translateY(-55%);
}

.notification .text, .notifImg {
    display: inline-block;
    position: relative;
}

.notification p {
    text-align: left;
    top: 50%;
}

.notifTitle {
    font-weight: bold;
}

.notification .appIcon {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 9%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notification .appIcon .appBox {
    width: 45px;
    height: 45px;
}

/* message app */

.msgBox-profile {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #9499A3;
    border-radius: 50%;
    margin-right: 10px;
}

.messageBox {
    position: relative;
    font-size: 14px;
    color: #fff;
    padding-bottom: 10px;
}

.msgPrev {
    color: #9499A3;
    font-size: 12px;
    padding-bottom: 20px;
    border-bottom: .1px solid #a7a8a9;
}

.msgBox-text {
    width: 85%;
    position: absolute;
}

.messageBox div {
    display: inline-block;
}

.unread {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #32a8d6;
    position: absolute;
    top: 15px;
    left: -15px;
}
.msgBox-profile .profile-icon {
    position: absolute;
    font-size: 20px;
    top: 50%;
    color: #fff;
}

.messageApp, .chatScreen {
    background-color: #000;
}

.msgList {
    height: 100%;
    list-style: none;
    font-size: 17px;
    text-align: left;
    padding: 20px;

}

.msgList li {
    padding: 5px;
    cursor: pointer;
}

.messageApp h1 {
    position: relative;
    top: 30px;
    height: 80px;
    color: #fff;
    text-align: left;
    padding: 15px;
    padding-left: 20px;

}

.msgFrom {
    font-weight: bold;
}

/* chat screen */

.chatScreen {
    overflow-y: hidden;
    background-color: #1e1e1e;
    color: #fff;
}

.chatTop {
    background-color: #373639;
    position: relative;
    width: 100%;
    height: 95px;
    border-bottom: 1px solid #000000;
    font-size: 11px;
    padding: 5px 0px;
}

.msgBackBtn {
    width: 18%;
    position: absolute;
    left: -23px;
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
    color: #0079bb;
    font-size: 28px;
    font-weight: bold;
}

.profile {
    height: 50px;
    width: 50px;
    background-color: #9499A3;
    border-radius: 50%;
}

.profile-icon {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.phoneIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); 
    color: #0079bb;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.headerContainer {
    position: absolute;
    width: 70%;
    font-size: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    padding: 10px;
}

.headerContainer p {
    font-size: 13px;
}

.chatTopContent div {
    display: inline-block;
}

.chatTopContent {
    position: relative;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chatBottom {
    position: absolute;
    bottom: -9px;
    width: 100%;
}

.keyboard {
    position: relative;
    width: 100%;
    height: 300px;
}

.keyboard img {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* speech bubble */
/* QuickReset */ * {margin: 0; box-sizing: border-box;}

#chat {
    position: relative;
    --rad: 20px;
    --rad-sm: 3px;
    font: 14px/1.5 sans-serif;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    overflow-y: auto;
    height: 160px;
}

.msg-ref {
    position: relative;
    height: 60px;
    width: 200px;
    /* background-color: red; */
    /* bottom: 0; */
}

.chat-div {
    position: relative;
    /* background-color: red; */
    top: -20px;
}

.messages {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    position: relative;
    border-radius: 20px;
    padding: 4px 15px;
    display: inline-block;

}
  
  .rcvd {
    align-items: flex-start;
  }
  
  .rcvd .message {
    margin-right: 25%;
    background-color: #3b3b3d;
    position: relative;
    text-align: left;

  }
  
  .rcvd .message.last:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #3b3b3d;
    border-bottom-right-radius: 15px;
  }
  .rcvd .message.last:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: #1e1e1e;
    border-bottom-right-radius: 10px;
  }
  
  .sent {
    align-items: flex-end;
    text-align: left;
  }

  .rcvd .not-last, .sent .not-last  {
    margin-bottom: -8px;
  }

  .rcvd .last, .sent .last  {
    margin-bottom: -6px;
  }

  .sent .message {
    color: white;
    margin-left: 25%;
    background: rgb(0, 120, 254);
    position: relative;

  }
  
  .sent .message.last:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: rgb(0, 120, 254);
    border-bottom-left-radius: 15px;


  }
  
  .sent .message.last:after {
    content: "";
    position: absolute;
    /* z-index: 1; */
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: #1e1e1e;
    border-bottom-left-radius: 10px;
  } 

/* homescreen */
.bottomBar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* background: rgba(31, 76, 77, 0.5); */
    background: linear-gradient(0deg, rgba(22, 81, 82, 0.5) 0%, rgba(21, 77, 109, 0.5) 100%);
    border-radius: 20px;
    bottom: 5%;
    width: 95%;
    height: 85px;
    padding: 10px;
}

.appIcon {
    cursor: pointer;
}

.appBox {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2px;
}

.homeScreen .appIcon {
    font-size: 11px;
    color: #fff;
    text-align: center;
    width: 60px;
    height: 70px;
    cursor: pointer;
}

.homeScreen  .appIcon .name{
    position: relative
}

.homeScreen  .appIcon .name p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bottomBar .content {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.appIcon .icon {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.picTokApp {
    background-color: #000;
    position: relative;
    color: #fff;
}

.picTokApp h1 {
    position: relative;
    top: 30px;
    display: block;
    padding-bottom: 15px;
    border-bottom: .5px solid #6f6f6f;
}

.storiesTab {
    position: relative;
    width: 100%;
    top: 0px;
    height: 70px; 
    margin-bottom: 10px;
    text-align: left;
}

.picTokProfile {
    position: relative;
    width: 60px;
    height: 100%;
    display: inline-block;
    margin: 0 5px;
}

.picTokProfile  .user {
    font-size: 10px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.profileOutline {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, rgb(255, 159, 56), red, rgb(216, 61, 255));
}

.storyProfile {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: 1px solid #000;
    /* color: ; */
}

.feed {
    position: relative;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    overflow-y: auto;
    height: calc(var(--screen-height) - 140.5px);
}

.liked {
    color: rgb(255, 66, 66);
}

.not-liked {
    color: #fff;
}

.bottomMenu-content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.bottomMenu-content div {
    cursor: pointer;
}


.bottomMenu p {
    position: absolute;
    background-color: red;
    font-size: 8px;
    border-radius: 50%;
    padding: 5px;

}

.bell p {
    right: -10px;
    top: -5px;
}

.msg-picTok p {
    right: -5px;
    top: -5px;
}

.bell, .msg-picTok {
    position: relative;
    
}

.post {
    margin-bottom: 20px;

}

.postInfo {
    text-align: left;
    padding-top: 10px;
}

.postUser {
    font-weight: bold;
    margin-right: 5px;
}

.postInfo p {
    display: inline;
}

.imgBox {
    height: 400px;
    position: relative;
    color: #fff;
}

.imgCounts {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.imgCounts span p {
    text-shadow: 1px 1px 2px #000;
}

.postImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 400px;

    width: 100%;
}

.postIcon {
    cursor: pointer;
    font-size: 22px;
}

.bottomMenu {
    position: absolute;
    width: 100%;
    bottom: 6px;
    height: 50px;
    background-color: #000;
    border-top: .5px solid #444444;
}

.pushNotifs .notification .text {
    left: 4rem;
}

.pushNotifs {
    position: absolute;
    width: 100%;
    top: 10px;
    height: 80px;
    z-index: 1;
    color: white;
    animation-name: slide-down;
    animation-duration: .8s;
    animation-timing-function: linear;


}

.pushNotifs .notification {
    background-color: rgb(78, 78, 78);
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}


@keyframes slide-down {
    0%   { z-index: 1; top:-80px;} 
    100%  {z-index: 1; top: 10px;}
}

/* Web */

.webApp {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    color: #000;
    width: 100%;
}

.webTop h1 {
    text-align: left;
    top: 0;
    margin-bottom: 10px;
    font-size: 19px;
    border-top: .5px solid #696969;
    border-bottom: .5px solid #696969;
    padding: 10px 0px;
}

.webContent {
    overflow-y: auto;
    position: relative;
    top: 5vh;
    width: 95%;
    height: 80%;
    margin: auto;
    text-align: left;
}

.webText img {
    width: 100%;
    margin-bottom: 10px;
}

.webText {
    position: relative;
    top: 15px;
}

.webBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(78, 78, 78);
    color: #fff;
}

.searchBar {
    background-color: #93939397;
    left: 50%;
    top: 6px;
    transform: translateX(-50%);
    width: 90%;
    position: absolute;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.searchBar p {
    display: flex;
    text-align: center;
}

.webBotContent {
    position: absolute;
    color: #0079bb;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    width: 90%;
    bottom: 13px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}


/* fitFocus */

.fitFocus {
    background-color: #000;
    color: #fff;
}

.ffContent {
    overflow-y: auto;
    height: 90%;
}

.fitFocus h1 {
    position: relative;
    top: 40px;
    width: 60%;
    margin: auto;
    padding: 10px;

    border: 1px solid #c7ff43;
}

.fitFocus h2 {
    position: relative;
    top: 50px;
    font-size: 15px;
}

.summary {
    position: relative;
    background-color: #000;
    border-radius: 20px;
    width: 93%;
    height: 90px;
    top: 60px;
    margin: auto;
    background-color: #35373a;
}

.sumContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 90%;
    text-align: left;
}

.sumContent div {
    display: inline-block;
}

.steps {
    position: absolute;
    right: 0;
    width: 30%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #c7ff43;

}

.sumText {
    width: 50%;
}

.steps p {
    font-size: 10px;
    text-align: center;
}

.fitFocus h4 {
    position: relative;

    top: 80px;
    font-weight: normal;
}

.fFmenu {
    position: relative;
    list-style: none;
    text-align: center;  
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 100%;
}

.discover {
    position: relative;
    top: 120px;
    width: 90%;
    text-align: left;
    margin: auto;
    font-size: 21px;
}

.disTitle {
    margin-bottom: 10px;
}

.fFmenu li {
    cursor: pointer;
    font-size: 20px;
    width: 65%;
    padding: 10px;
    border-radius: 10px;
    background-color: #35373a;
    color: #c7ff43;
    margin: auto;
    margin-bottom: 10px;
}

.celMsg p {
    color: #ff3e3b;

}

.fFmenu li:hover {
    font-weight: bold;
}


.fFWindow {
    position: absolute;
    width: 90%;
    height: 400px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: black;
    background-color: black;
    color:#fff;
    box-shadow: 1px 3px 20px 5px #35373a;

    /* background-color: #35373a; */
    

}

.closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
}

.fFWindow h3 {
    position: relative;
    top: 30px;
    font-size: 25px;
    color: #c7ff43;

    
}

.fFWinContent {
    position: relative;
    top: 50px;
    margin: auto;
    width: 85%;
    height: 70%;

}

.goalsList {
    list-style: none;
    text-align: left;
    background-color: black;
    color:#fff;

}

.goalsList li {
    margin-bottom: 10px;
    font-size: 17px;
}

.ffBtn {
    position: absolute;
    background-color: #35373a;
    color: #c7ff43;
    padding: 5px;
    width: 40%;
    border-radius: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 20px;
}

.ffBtn:hover {
    font-weight: bold;
}

.fFWinContent input {
    margin-right: 5px;
    accent-color: #c7ff43;
    color: #fff;
}

.logList li {
    font-size: 15px;
}

.logBtn {
    bottom: -20px;

}

.fFWinContent p {
    margin-top: 25px;
    font-weight: bold;
    color: #c7ff43;
}

.celMsg {
    position: relative;
    top: 100px;
    width: 90%;
    font-size: 13px;
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.celMsg span {
    cursor: pointer;
}

.disContent {
    font-size: 15px;
}

.disContent div {
    position: relative;
    width: 100%;
    background-color: #35373a;
    padding: 5px 0;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.disContent p {
    margin-bottom: 15px;
}

.ffBottomBar {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    height: 50px;
    color: #ffffff;
    font-size: 25px;
    background-color: rgba(64, 64, 64, 0.654);
    border-top: 1px solid #35373a;
}

.ffBB-content {
    position: relative;
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 45px;
}

.ffBB-content div {
    position: relative;
    margin: auto;
    cursor: pointer;
}

.ffBB-content div:hover {
    color: #c7ff43;
}


/* Lucky Tap */

.luckyTap {
    background: rgb(118,180,58);
    background: linear-gradient(90deg, rgba(118,180,58,1) 0%, rgba(29,253,126,1) 50%, rgba(118,180,58,1) 100%);
    font-family: "Angkor", serif;
    font-weight: 900;
    font-style: normal;
    color: #fff;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}


.luckyTap:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.gifts {
    position: absolute;
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #75bc756f;
    border: 1px solid rgba(255, 225, 103, 0.442);
    box-shadow: 2px 3px 30px rgb(66, 159, 64);
    padding: 5px 10px;
    border-radius: 10px;
    height: 30%;
}

.gifts div {
    cursor: pointer;
}

.gifts div:hover {
    text-shadow: 2px 3px 30px rgb(255, 225, 103);
}

.luckyTap h1 {
    position: relative;
    top: 60px;
    font-size: 35px;
    width: 100%;
    text-align: center;
    text-shadow: 2px 3px 40px rgb(242, 255, 0);
    font-style: italic;
    color: rgb(199, 255, 168);
}

.luckyTap h2 {
    position: absolute;
    top: 120px;
    font-size: 13px;
    width: 96%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 0;
    text-shadow: 2px 3px 40px rgb(242, 255, 0);
    -webkit-text-stroke-width: .2px;
    line-height: 1.2;

}

.luckyTap h3 {
    position: absolute;
    bottom: 90px;
    width: 95%;
    left: 50%;
    font-size: 18px;
    transform: translateX(-50%);
    text-shadow: 2px 3px 40px  rgb(242, 255, 0);
    line-height: 1.2;
}

.prizeReveal {
    position: absolute;
    -webkit-text-stroke-width: .2px;
    width: 80%;
    height: 300px;
    color: #fff;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 10px;
    box-shadow: 1px 3px 20px 5px #353d10;
    background-color: #4cb44c;
    text-shadow: 2px 3px 20px rgb(47, 111, 47);
}

.prize-content {
    position: relative;
    height: 100%;
}
.prizeReveal h4 {
    position: relative;
    font-size: 20px;
    padding: 10px;
}

.prizeReveal p {
    position: relative;
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
    width: 100%;
}

.prizeBtn {
    position: absolute;
    bottom: 10px;  
    background-color: #ffcb10;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.prizeBtn:hover {
    background-color: #ffd439;
}

.survey {
    box-shadow: 1px 3px 20px 5px #353d10;
    background-color: #4cb44c;
    line-height: 1;
    font-family: Helvetica, sans-serif;
    -webkit-text-stroke-width: .5px;
    text-shadow: 2px 3px 20px rgb(47, 111, 47);
}

.survey h4 {
    font-size: 16px;
    width: 100%;
    top: 10px; 
}

.survey h5 {
    position: relative;
    top: 20px; 
}

.survey-content {
    height: 65%;
    width: 95%;
    margin: auto;
}

.claimBtn {
    margin-top: 15px;
    font-size: 15px;
    position: relative;
}

.question {
    position: relative;
    top: 40px;
}

.question input {
    accent-color: #fbd240;
    cursor: pointer;
}

.question p {
    font-size: 15px;
    text-align: left;
    margin: 0;
}

.nextBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #fbd240;
    width: 20%;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
}

.tyMsg {
    position: relative;
    width: 100%;
    height: 200px;
}

.tyMsg h4 {
    font-size: 18px;
    top: -30px;
    width: 100%;
}


.tyMsg h5 {
    position: relative;
    top: -18px;
    font-size: 28px;

}

.tyMsg h6 {
    position: absolute;
    bottom: -15px;
    font-size: 12px;


}

/* EventEnvy */
.eventEnvy {
    background-color: #fff;
    color: #000;
    overflow-y: auto;
    height: 100%;
}

.event {
    position: relative;
    height: 95%;
    text-align: left;
}

.event h6 {
    padding-left: 15px;
    font-weight: 0;
}

.event img {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event h3 {
    padding: 15px;
    text-align: left;
    width: 100%;
}

.eventIcon, .event-details div {
    display: inline-block;
}

.eventIcon {
    margin-right: 20px;
    font-size: 23px;
    color: #888;
}

.event-details {
    padding: 15px;
}

.e-detail {
    margin-bottom: 20px;
    font-size: 15px;
}

.e-detail div {
    display: inline-block;
}


.e-detail p:nth-child(2) {
    padding-top: 5px;
    font-size: 13px;
    color: #888;
}

.moreEvents {
    background-color: #da3b3b;
    width: 100%;
    padding: 15px;
    color: #fff;
}

.recEvent {
    padding: 15px;
    text-align: left;
    cursor: pointer;

    .e-detail p:nth-child(2), .eventIcon {
        color: black;
    }
}

.recEvent img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recEvent h4 {
    width: 100%;
    padding: 10px 0;
    font-style: italic;
}

.battery {
    background-color: #000;
}

.battContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.battIcon, .chargeIcon {
    text-align: center;
    display: block;
    color: #fff;
    font-weight: normal;
}

.battIcon {
    font-size: 120px;
}

.chargeIcon {
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.batt {
    position: relative;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.batteryColor {
    height: 40px;
    width: 10px;
    background-color: #df0a0a;
    position: absolute;
    top: 40px;
    left: 10px;

}

