:root {
    --phone-border_old: rgb(45, 45, 45);
    --phone-border: rgb(20, 20, 20);
    --screen-height: 34rem;

}

* {
    padding: 0;
    margin: 0;
}

body {
  background-color: dimgrey;
  overflow-y: hidden;
  font-family: Helvetica, sans-serif;
}

/* phone screen */
#phone {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,176,253,1) 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 23rem;
    height: 45rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid var(--phone-border);
    border-radius: 30px;
    box-shadow: 1px 3px 20px 12px rgb(127, 127, 127);
}

.homeButton {
    bottom: 0;
    cursor: pointer;
}

.topPhone {
    top: 0;
    position: relative;
    z-index: 2;
}

.border {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 5rem;
    width: 100%;
    background-color: var(--phone-border);
}

.phoneScreen {
    width: 100%;
    top: 5rem;
    height: 33.75rem;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2.5px solid #232323;
    z-index: -3;
}

.button {
    position: absolute;
    height: 49px;
    width: 49px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #3c3c3c;
    background-color: var(--phone-border);
    cursor: pointer;
}

.top-content {
    position: absolute;
    width: 100%;
    height: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}

.camera {
    height: 9px;
    width: 9px;
    position: absolute;
    background-color: black;
    border: 1px solid #232323;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.speaker {
    height: 5px;
    width: 70px;
    position: absolute;
    background-color: black;
    border: 1px solid #232323;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.mic {
    height: 13px;
    width: 13px;
    position: absolute;
    background-color: black;
    border: 1px solid #232323;
    left: 35%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.screen {
    text-align: center;
    width: 100%;
    top: 0px;  
    height: var(--screen-height);
    position: relative;
    z-index: -1;
}

/* screen */

.lockScreen {
    position: relative;
    color: #fff;
    text-align: center;
}

.homeScreen {
    padding: 20px;
}

.dateTime {
    position: absolute;
    top: 3rem;
    text-align: center;
    width: 100%;
}

.time {
    position: relative;
    font-size: 70px;
}

.lockScreen .content {
    top: 10rem;
    position: absolute;
    width: 100%;
    height: 23.5rem;
}

.topBar {
    position: absolute;
    width: 100%;
}

.topBar-content {
    padding: 5px 15px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: transparent;
    height: 20px;
    z-index: 0;
}

.top-time {
    font-size: 13px;
}

.topRight {
    display: flex;
    justify-content: space-between;
    width: 16%;
    font-size: 15px;
}

/* notification */

.notification {
    background-color: rgba(35, 35, 35, 0.5);
    border-radius: 10px;
    position: relative;
    width: 98%;
    height: 4rem;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.notification .text {
    font-size: 12px;
    position: relative;
    left: 2rem;
    cursor: pointer;
    height: 3rem ;
    width: 80% ;
    top: 58%;
    transform: translateY(-55%);
}

.notification .text, .notifImg {
    display: inline-block;
    position: relative;
}

.notification p {
    text-align: left;
    top: 50%;
}

.notifTitle {
    font-weight: bold;
}

.notification .appIcon {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 9%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notification .appIcon .appBox {
    width: 45px;
    height: 45px;
}

/* message app */

.msgBox-profile {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #9499A3;
    border-radius: 50%;
    margin-right: 10px;
}

.messageBox {
    position: relative;
    font-size: 14px;
    color: #fff;
    padding-bottom: 10px;
}

.msgPrev {
    color: #9499A3;
    font-size: 12px;
    padding-bottom: 20px;
    border-bottom: .1px solid #a7a8a9;
}

.msgBox-text {
    width: 85%;
    position: absolute;
}

.messageBox div {
    display: inline-block;
}

.msgBox-profile .profile-icon {
    position: absolute;
    font-size: 20px;
    top: 50%;
    color: #fff;
}

.messageApp, .chatScreen {
    background-color: #000;
}

.msgList {
    height: 100%;
    list-style: none;
    font-size: 17px;
    text-align: left;
    padding: 20px;

}

.msgList li {
    padding: 5px;
    cursor: pointer;
}

.messageApp h1 {
    position: relative;
    top: 30px;
    height: 80px;
    color: #fff;
    text-align: left;
    padding: 15px;
    padding-left: 20px;

}

.msgFrom {
    font-weight: bold;
}

/* chat screen */

.chatScreen {
    overflow-y: hidden;
    background-color: #1e1e1e;
    color: #fff;
}

.chatTop {
    background-color: #373639;
    position: relative;
    width: 100%;
    height: 95px;
    border-bottom: 1px solid #000000;
    font-size: 11px;
    padding: 5px 0px;
}

.msgBackBtn {
    width: 18%;
    position: absolute;
    left: -23px;
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
    color: #0079bb;
    font-size: 28px;
    font-weight: bold;
}

.profile {
    height: 50px;
    width: 50px;
    background-color: #9499A3;
    border-radius: 50%;
}

.profile-icon {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.phoneIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); 
    color: #0079bb;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.headerContainer {
    position: absolute;
    width: 70%;
    font-size: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    padding: 10px;
}

.headerContainer p {
    font-size: 13px;
}

.chatTopContent div {
    display: inline-block;
}

.chatTopContent {
    position: relative;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chatBottom {
    position: absolute;
    bottom: -9px;
    width: 100%;
}

.keyboard {
    position: relative;
    width: 100%;
    height: 300px;
}

.keyboard img {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.chatContent {
    position: relative;
    width: 100%;
    height: 35%;
    overflow-y: auto;
}

/* speech bubble */
/* QuickReset */ * {margin: 0; box-sizing: border-box;}

.chat {
    --rad: 20px;
    --rad-sm: 3px;
    font: 15px/1.5 sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

.chat-div {
    position: relative;
    top: -20px;
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messages {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 4px 15px;
    display: inline-block;
    background-color: red;
}
  
  .rcvd {
    align-items: flex-start;
  }
  
  .rcvd .message {
    margin-right: 25%;
    background-color: #3b3b3d;
    position: relative;
    text-align: left;

  }
  
  .rcvd .message.last:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #3b3b3d;
    border-bottom-right-radius: 15px;
  }
  .rcvd .message.last:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: #1e1e1e;
    border-bottom-right-radius: 10px;
  }
  
  .sent {
    align-items: flex-end;
    text-align: right;
  }

  .rcvd .not-last, .sent .not-last  {
    margin-bottom: -8px;
  }

  .rcvd .last, .sent .last  {
    margin-bottom: -6px;
  }

  .sent .message {
    color: white;
    margin-left: 25%;
    background: rgb(0, 120, 254);
    position: relative;

  }
  
  .sent .message.last:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: rgb(0, 120, 254);
    border-bottom-left-radius: 15px;


  }
  
  .sent .message.last:after {
    content: "";
    position: absolute;
    /* z-index: 1; */
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: #1e1e1e;
    border-bottom-left-radius: 10px;
  } 

/* homescreen */
.bottomBar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* background: rgba(31, 76, 77, 0.5); */
    background: linear-gradient(0deg, rgba(22, 81, 82, 0.5) 0%, rgba(21, 77, 109, 0.5) 100%);
    border-radius: 20px;
    bottom: 5%;
    width: 95%;
    height: 85px;
    padding: 10px;
}

.appIcon {
    cursor: pointer;
}

.appBox {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2px;
}

.homeScreen .appIcon {
    font-size: 11px;
    color: #fff;
    text-align: center;
    width: 60px;
    height: 70px;
    cursor: pointer;
}

.homeScreen  .appIcon .name{
    position: relative
}

.homeScreen  .appIcon .name p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bottomBar .content {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.appIcon .icon {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.picTokApp {
    background-color: #000;
    position: relative;
    color: #fff;
}

.picTokApp h1 {
    position: relative;
    top: 30px;
    display: block;
}

.feed {
    position: relative;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    overflow-y: auto;
    height: calc(var(--screen-height) - 120px);
}

.liked {
    color: rgb(255, 66, 66);
}

.not-liked {
    color: #fff;
}

.bottomMenu-content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.bottomMenu-content div {
    cursor: pointer;
}

.bottomMenu p {
    position: absolute;
    background-color: red;
    font-size: 8px;
    border-radius: 50%;
    padding: 5px;

}

.bell p {
    right: -10px;
    top: -5px;
}

.msg-picTok p {
    right: -5px;
    top: -5px;
}

.bell, .msg-picTok {
    position: relative;
    
}

* {
    -ms-overflow-style: none; /* hide scrollbar for Internet Explorer, Edge */
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none; /* hide scrollbar for Chrome, Safari, and Opera */
}

.post {
    margin-bottom: 20px;

}

.postInfo {
    text-align: left;
    padding-top: 10px;
}

.postUser {
    font-weight: bold;
    margin-right: 5px;
}

.postInfo p {
    display: inline;
}

.imgBox {
    height: 400px;
    position: relative;
    color: #fff;
}

.imgCounts {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.imgCounts span p {
    text-shadow: 1px 1px 2px #000;
}

.postImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 400px;

    width: 100%;
}

.postIcon {
    cursor: pointer;
    font-size: 22px;
}

.bottomMenu {
    position: absolute;
    width: 100%;
    bottom: 6px;
    height: 50px;
    background-color: #000;
    border-top: .5px solid #444444;
}

.pushNotifs .notification .text {
    left: 4rem;
}

.pushNotifs {
    position: absolute;
    width: 100%;
    top: 10px;
    height: 80px;
    z-index: 1;
    color: white;
    animation-name: slide-down;
    animation-duration: .8s;
    animation-timing-function: linear;


}

.pushNotifs .notification {
    background-color: rgb(78, 78, 78);
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}


@keyframes slide-down {
    0%   { z-index: 1; top:-80px;} 
    100%  {z-index: 1; top: 10px;}
}

/* Notes */

.notesApp {
    background-color: #1f1f1f;
    color: #fff;
    width: 100%;
}

.notesContent {
    position: relative;
    top: 60px;
    width: 95%;
    margin: auto;
    text-align: left;
}




/* fitFocus */

.fitFocus {
    background-color: #2f71ff;
    color: #fff;
}

.fitFocus h1 {
    position: relative;
    top: 90px;
    width: 60%;
    margin: auto;
    padding: 10px;
    border: 1px solid #fff;
}
.fitFocus h2 {
    position: relative;
    top: 120px;
    font-size: 15px;
}


.fFmenu {
    position: absolute;
    list-style: none;
    text-align: center;  
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
}

.fFmenu li {
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 10px;
}

.fFmenu li:hover {
    font-weight: bold;
}


.fFWindow {
    position: absolute;
    width: 90%;
    height: 400px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: black;
}

.closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
}

.fFWindow h3 {
    position: relative;
    top: 30px;
    font-size: 25px;
}

.fFWinContent {
    position: relative;
    top: 50px;
    margin: auto;
    width: 85%;
    /* background-color: red; */
    height: 70%;
}

.goalsList {
    list-style: none;
    text-align: left;
}

.goalsList li {
    margin-bottom: 10px;
    font-size: 17px;
}

.ffBtn {
    position: absolute;
    background-color: #2f71ff;
    color: #fff;
    padding: 5px;
    width: 40%;
    border-radius: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 20px;
}

.ffBtn:hover {
    font-weight: bold;
}

.fFWinContent input {
    margin-right: 5px;
}

.fFWinContent p {
    margin-top: 25px;
    font-weight: bold;
    color: #2f71ff;
}

.celMsg {
    position: relative;
    top: 300px;
    width: 90%;
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.celMsg span {
    cursor: pointer;
}

.disContent {
    position: relative;
    overflow-y: auto;
}

.disContent div {
    position: relative;
    width: 100%;
    background-color: #79a3fd;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;

}

.disContent p {
    position: relative;
    color: #000;
    text-align: left;
    font-size: 15px;
    top: -10px;
}

/* Lucky Tap */

.luckyTap {
    background-color: #27b227;
    color: #fff;
}

.gifts {
    position: absolute;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 100px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gifts div {
    cursor: pointer;
}

.gifts div:hover {
    text-shadow: 2px 3px 30px  rgb(255, 225, 103);
}

.luckyTap h1 {
    position: relative;
    top: 60px;
}

.luckyTap h2 {
    position: absolute;
    top: 120px;
    font-size: 18px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
}

.luckyTap h3 {
    position: absolute;
    bottom: 90px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.prizeReveal {
    position: absolute;
    width: 80%;
    height: 300px;
    background-color: #fff;
    color: #000;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 10px;
    box-shadow: 1px 3px 20px 5px #68e668;
}

.prize-content {
    position: relative;
    height: 100%;
}
.prizeReveal h4 {
    position: relative;
    font-size: 25px;
    padding: 10px;
}

.prizeReveal p {
    position: relative;
    margin: auto;
    margin-top: 50px;
    font-size: 25px;
    width: 100%;
}

.prizeBtn {
    position: absolute;
    bottom: 10px;  
    background-color: #ffc800;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

}

.prizeBtn:hover {
    background-color: #fbd240;
}


.survey h4 {
    font-size: 19px;
    width: 100%;
}

.survey-content {
    overflow-y: auto;
    height: 65%;
    width: 95%;
    margin: auto;
}

.claimBtn {
    margin-top: 15px;
    font-size: 15px;
    position: relative;
}

.question {
    position: relative;
    top: 8px;
}

.question p {
    font-size: 15px;
    text-align: left;
    margin: 0;
}

.nextBtn {
    position: absolute;
    /* bottom: 0; */
    right: 0;
    margin: auto;
    background-color: #45c445;
    width: 20%;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
}

/* EventEnvy */
.eventEnvy {
    background-color: #fff;
    color: #000;
    overflow-y: auto;
    height: 100%;
}

.event {
    position: relative;
    height: 95%;
    text-align: left;
}

.event h6 {
    padding-left: 15px;
    font-weight: 0;
}

.event img {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event h3 {
    padding: 15px;
    text-align: left;
    width: 100%;
}

.eventIcon, .event-details div {
    display: inline-block;
}

.eventIcon {
    margin-right: 20px;
    font-size: 23px;
    color: #888;
}

.event-details {
    padding: 15px;
}

.e-detail {
    margin-bottom: 20px;
    font-size: 15px;
}

.e-detail div {
    display: inline-block;
}


.e-detail p:nth-child(2) {
    padding-top: 5px;
    font-size: 13px;
    color: #888;
}

.moreEvents {
    background-color: #da3b3b;
    width: 100%;
    padding: 15px;
    color: #fff;
}

.recEvent {
    padding: 15px;
    text-align: left;
    cursor: pointer;

    .e-detail p:nth-child(2), .eventIcon {
        color: black;
    }
}

.recEvent img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recEvent h4 {
    width: 100%;
    padding: 10px 0;
    font-style: italic;
}

.rand {
    color: #da3b3b;
}

