:root {
    --phone-border_old: rgb(45, 45, 45);
    --phone-border: rgb(20, 20, 20);
    --screen-height: 33.75rem;

}

* {
    padding: 0;
    margin: 0;
}

body {
  background-color: dimgrey;
  overflow-y: hidden;
  font-family: Helvetica, sans-serif;
}

/* phone screen */
.phone {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 23rem;
    height: 45rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid var(--phone-border);
    border-radius: 30px;
    box-shadow: 1px 3px 20px 12px rgb(127, 127, 127);
}

.homeButton {
    bottom: 0;
}

.top {
    top: 0;
}

.border {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 5rem;
    width: 100%;
    background-color: var(--phone-border);
    /* border-radius: 0 0 30px 30px; */
}

.phoneScreen {
    width: 100%;
    top: 5rem;
    height: 33.75rem;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2.5px solid #232323;
}

.button {
    position: absolute;
    height: 49px;
    width: 49px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #3c3c3c;
    background-color: var(--phone-border);
    cursor: pointer;
}

.top-content {
    position: absolute;
    width: 100%;
    height: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.camera {
    height: 9px;
    width: 9px;
    position: absolute;
    background-color: black;
    border: 1px solid #232323;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.speaker {
    height: 5px;
    width: 70px;
    position: absolute;
    background-color: black;
    border: 1px solid #232323;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.mic {
    height: 13px;
    width: 13px;
    position: absolute;
    background-color: black;
    border: 1px solid #232323;
    left: 35%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.screen {
    text-align: center;
    width: 100%;
    height: var(--screen-height);
    position: relative;
    /* overflow-y:auto; */
}

/* screen */

.lockScreen {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,176,253,1) 100%);
    color: #fff;
    text-align: center;
}

.homeScreen {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,176,253,1) 100%);
    padding: 20px;
}

.dateTime {
    position: absolute;
    top: 3rem;
    text-align: center;
    width: 100%;
}

.time {
    font-size: 70px;
}

.lockScreen .content {
    top: 10rem;
    position: absolute;
    width: 100%;
    height: 23.5rem;
}

.topBar {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: transparent;
}

/* notification */

.notification {
    background-color: rgba(35, 35, 35, 0.5);
    border-radius: 10px;
    position: relative;
    width: 98%;
    height: 4rem;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.notification .text {
    font-size: 12px;
    position: absolute;
    left: 1rem;
    cursor: pointer;
    height: 3rem ;
    width: 80% ;
    top: 58%;
    transform: translateY(-55%);
}

.notification .text, .notifImg {
    display: inline-block;
    position: relative;
}

.notification p {
    text-align: left;
    top: 50%;
}

.notifTitle {
    font-weight: bold;
}

.notifSubtitle {

}

.notifContent {

}

.notifImg {
    /* position: relative; */
    width: 45px;
    height: 45px;
    left: 9%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* message app */
.messageApp, .chatScreen {
    background-color: #fff;
}

.msgList {
    height: 100%;
    list-style: none;
    font-size: 17px;
    text-align: left;
}

.msgList li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d0d0d0;

}

.messageApp h1 {
    background-color: #e5e5e5;
    border-bottom: 1px solid #d0d0d0;


    text-align: left;
    padding: 10px;
    /* border-bottom: .5px solid #000; */
}

.msgFrom {
    font-weight: bold;
}

/* chat screen */

.chatScreen {
    overflow-y: hidden;
}

.chatTop {
    background-color: #e5e5e5;
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 10px;
}

.msgBackBtn {
    width: 18%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
    color: rgb(0, 4, 255);
}

.phoneIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); 
    color: rgb(0, 4, 255);
}

.headerContainer {
    position: absolute;
    width: 70%;
    font-size: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.chatTopContent div {
    display: inline-block;
}

.chatTopContent {
    position: relative;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chatBottom {
    position: absolute;
    bottom: 3%;
    width: 100%;

    /* height: 250px; */
    background-color: #fff;
}

.keyboard img {
    width: 100%;
    /* width: 100%;
    height: 250px; */

}

.chatContent {
    position: relative;
    width: 100%;
    height: 40%;
    overflow-y: auto;
}

/* speech bubble */
/* QuickReset */ * {margin: 0; box-sizing: border-box;}

.chat {
    --rad: 20px;
    --rad-sm: 3px;
    font: 16px/1.5 sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    margin: auto;
  }
  
.msg {
    position: relative;
    max-width: 75%;
    padding: 7px 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.msg.sent {
    border-radius: var(--rad) var(--rad-sm) var(--rad-sm) var(--rad);
    background: #42a5f5;
    color: #fff;
    /* moves it to the right */
    margin-left: auto;
    text-align: left;

}

.msg.rcvd {
    border-radius: var(--rad-sm) var(--rad) var(--rad) var(--rad-sm);
    background: #f1f1f1;
    color: #555;
    /* moves it to the left */
    margin-right: auto;
    text-align: left;

}

/* Improve radius for messages group */

.msg.sent:first-child,
.msg.rcvd+.msg.sent {
    border-top-right-radius: var(--rad);
}

.msg.rcvd:first-child,
.msg.sent+.msg.rcvd {
    border-top-left-radius: var(--rad);
}


/* time */

.msg::before {
    content: attr(data-time);
    font-size: 0.8rem;
    position: absolute;
    bottom: 100%;
    color: #888;
    white-space: nowrap;
    /* Hidden by default */
    display: none;
}

.msg.sent::before {
    right: 15px;
}

.msg.rcvd::before {
    left: 15px;
}


/* Show time only for first message in group */

.msg:first-child::before,
.msg.sent+.msg.rcvd::before,
.msg.rcvd+.msg.sent::before {
/* Show only for first message in group */
    display: block;
}

  
  .chat {
    width: 98%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* padding: 10px; */

  }
  
  .messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .rcvd {
    align-items: flex-start;
  }
  
  .rcvd .message {
    margin-right: 25%;
    background-color: #EEE;
    position: relative;
  }
  
  .rcvd .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #EEE;
    border-bottom-right-radius: 15px;
  }
  .rcvd .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
  }
  
  .sent {
    align-items: flex-end;
  }
  
  .sent .message {
    color: white;
    margin-left: 25%;
    background: rgb(0, 120, 254);
    position: relative;
  }
  
  .sent .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: rgb(0, 120, 254);
    border-bottom-left-radius: 15px;
  }
  
  .sent .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
  } 

/* homescreen */
.bottomBar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* background: rgba(31, 76, 77, 0.5); */
    background: linear-gradient(0deg, rgba(22, 81, 82, 0.5) 0%, rgba(21, 77, 109, 0.5) 100%);
    border-radius: 20px;
    bottom: 5%;
    width: 95%;
    height: 85px;
    padding: 10px;
}

.appBox {
    position: relative;
    width: 55px;
    background-color: red;
    height: 55px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2px;
}

.app {
    font-size: 11px;
    color: #fff;
    text-align: center;
    width: 60px;
    height: 70px;
    /* position: absolute; */
    cursor: pointer;
}

.app .name{
    position: relative
}

.app .name p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bottomBar .content {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.app .icon {
    font-size: 40px;
    /* margin: auto; */
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}